@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: blueviolet;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: calc(100dvh - 38px);
    background-color: blueviolet;
}

main > h1 {
    font-size: 1.6rem;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.322);
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
    background-color: white;
    width: 90%;
    padding: 10px;
    border-radius: 6px;
}

div#entrada {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

div#entrada > div#input-entrada {
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(209, 221, 42);
}

div#entrada > div#input-entrada > input {
    padding: 1px;
    width: 6ch;
}

div#entrada > div > button {
    border: none;
    border-radius: 3px;
    padding: 6px;
    color: white;
    background-color: rgb(76, 24, 126);
}

div#entrada > div#lista-entrada-div {
    overflow: auto;
    scroll-behavior: smooth;
    border: 1px solid rgb(76, 24, 126);
    border-radius: 3px;
    padding: 10px;
    width: 70%;
    height: 200px;
    text-align: center;
}

div#saida {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

div#saida button {
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    color: white;
    background-color: rgb(76, 24, 126);;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.349);
}

div#paragrafo-saida {
    display: none;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(152, 47, 250);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 3px;
}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(76, 24, 126);
}